@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  font-family: Inter;
  --bg-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  --hoverr-color: rgba(255, 180, 0, 1);
  --project-color: rgba(240, 240, 246, 1);
  --line-color: rgba(118, 118, 118, 1);

}